venv
oasisbr/scripts/utils/__pycache__/db_utils.cpython-312.pyc
orcid/scripts/utils/__pycache__/db_utils.cpython-312.pyc
.gitignore
orgunit/.env
.DS_Store
orcid/.env
*.pyc
oasisbr/.env
/orcid/scripts/utils/__pycache__
/orcid/scripts/utils/__pycache__
orcid/scripts/utils/__pycache__/db_utils.cpython-312.pyc
